<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Cocktails.WCF.Service1" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint contract="Cocktails.WCF.IService1" binding="basicHttpBinding" address=""></endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <appSettings></appSettings>
  <connectionStrings>
    <add name="DiscountEntities" connectionString="metadata=res://*/DiscountDB.csdl|res://*/DiscountDB.ssdl|res://*/DiscountDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=643a7ad0-1d8c-40f3-a03b-a2690150f720.sqlserver.sequelizer.com;initial catalog=db643a7ad01d8c40f3a03ba2690150f720;persist security info=True;user id=luieptrtldenwiec;password=wdjtrcWadN4RB3umTmtUFY6mrxP3cVsKHTeNBv6y8th5Y7rFU7UR8xGFg6b2v36p;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>