<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    <assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Cocktails.WCF.Service1" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint contract="Cocktails.WCF.IService1" binding="basicHttpBinding" address=""></endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <appSettings></appSettings>
  <connectionStrings>
    <add name="CocktailsDBEntities" connectionString="metadata=res://*/CocktailsEDM.csdl|res://*/CocktailsEDM.ssdl|res://*/CocktailsEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=68839d59-9e84-473b-b6e4-a2ad010ee02a.sqlserver.sequelizer.com;initial catalog=db68839d599e84473bb6e4a2ad010ee02a;persist security info=True;user id=plsycdccvwjdbjou;password=nJzSnRkDm4xttrFk7uFZLbUpDzLVWZMJ7c8nExM2pnVkRTTFtjiQWPmmXjnUewQt;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>